<h1>Add Article</h1>

<%= form_for @article do |f| %>

  <% if @article.errors.any? %>
    <ul class="errors">
      <% @article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :url, "URL" %>
    <%= f.text_field :url %>
  </div>

  <div class="action">
    <%= f.submit "Submit Article" %>
  </div>
<% end %>

<p><%= link_to "Back to Articles", articles_path %></p>
